<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        New Movie
      </h1>
    </div>
  </div>
</section>


<% if @movies.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@movies.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @movies.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= render "form", movie: @movies %>


